#photo{
    width: 100%;
    min-height: 500px;
    overflow: hidden;
    text-align: center; 
}
#photo-panel, photo-option{
    overflow: hidden;
    margin: auto;
}

#photo-panel{
    margin: 10px auto;
    width: 550px;
}
#photo-choser{
    border: 2px dashed #A5A5A5;
    border-radius: 10px;
    width: 300px;
    height: 50px;    
    float: left;
    margin: 0 5px;
}

#photo-choser-label{
    overflow: hidden;
    width: 300px;
    height: 50px;
}

#photo-choser-input{
    display: none;
}

.switch{
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    margin: 0 5px;
    width: 100px;
    height: 50px;    
    float: left;
    font-size: 13px; 
    line-height: 23px;
}
.switcher{
    padding: 0px !important;
    height: 25px;
    border: 0;
    color: white;
    cursor: pointer;
    width: 98px;
    margin:0;
    border-radius: 0 0 10px 10px;
}

.switcher:focus{
    border: 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0px;
}

.switcher:before{
    width: 50px;
}
.switcher:after{
    width: 50px;
    margin-left: 15px;
}

.switcher.true{
    background-image: linear-gradient(to right, #84CA7F 50px, #A09D9D 51px);    
}
.switcher.false{
    background-image: linear-gradient(to right, #A09D9D 50px, #84CA7F 51px);    
}


#orginal-show:before{
    content: "SHOW";
}
#orginal-show:after{
    content: "HIDE";
}

#photo-use:before{
    content: "ON";
}
#photo-use:after{
    content: "OFF";
}


.photooption:first-child{
    margin-left: 0px;
}

.photoedit, .photooption{
    position: relative;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    background: #ADADAD;
    float: left;
    margin-left: 10px;
    cursor: pointer;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.photomenu{
    display: none;
    top: 80px;
    padding-top:10px;
    width: 500px;
    position: absolute;
    overflow: hidden;
}

.photoedit:hover > .photomenu{
    display: block;
}

.color{
    background: url("/images/projects/photoeditor/color.png");
}

.negatyw{
    background: url("/images/projects/photoeditor/negatyw.png");
}

.m3x3{
    background: url("/images/projects/photoeditor/3x3.png");
}

.m5x5{
    background: url("/images/projects/photoeditor/5x5.png");
}

.bit{
    background: url("/images/projects/photoeditor/32bit.png");
}

.akcent{
    background: url("/images/projects/photoeditor/akcent.png");
}

.kontur1{
    background: url("/images/projects/photoeditor/kontur1.png");
}

.kontur2{
    background: url("/images/projects/photoeditor/kontur2.png");
}

.lab{
    background: url("/images/projects/photoeditor/lab.png");
}

.losowa{
    background: url("/images/projects/photoeditor/losowa.png");
}

.progcz-bi{
    background: url("/images/projects/photoeditor/progcz-bi.png");
}

.progcz-szar{
    background: url("/images/projects/photoeditor/progcz-szar.png");
}

.progsz-bi{
    background: url("/images/projects/photoeditor/progsz-bi.png");
}

.sepia{
    background: url("/images/projects/photoeditor/sepia.png");
}

.szary{
    background: url("/images/projects/photoeditor/szary.png");
}
.pixel{
    background: url("/images/projects/photoeditor/pixel.png");
}
.circle{
    background: url("/images/projects/photoeditor/circle.png");
}
.dots{
    background: url("/images/projects/photoeditor/dots.png");
}


#photo-canvas{
    width: 100%;
    min-height: 300px;
    overflow: hidden;
    
}


#mask{
    position: absolute;
    margin-top: 100px;
    overflow: hidden;
    max-width: 250px;
    border-radius: 10px;
    background: #828282;
    left:50%;     
    margin-left:-120px;
    display: none;
    
}

#mask-matrix{
    overflow: hidden;
    min-height: 150px;
    max-height: 250px;
    min-width: 150px;
    max-width: 250px;
}


.mask-input{
    width: 40px;
    height: 40px;
    margin: 5px;
    float: left;
}

#mask-action{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #ADADAD;
    margin: 5px auto;
    cursor: pointer;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    font-size: 13px;
    font-weight: bold;
    color: white;
}
