html, body{
    width:100%;
    height:100%;
    font-family: 'Poiret One', cursive;
    overflow: auto;
}


.run-bg{
    width: 100%;
    min-height:100%;
    background: url('/images/running.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.run-box{
    margin-top: 30px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 56px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 56px 5px rgba(0,0,0,0.75);
    box-shadow: 0 0 56px 5px rgba(0,0,0,0.75);
    min-height:50px;
    background-color: rgba(0, 60, 54, 0.8);
    border-radius:5px;
}

.run-box .col{
    margin:10px 0;
}

.input-area{
    padding:20px;
    color: #fff;
    border:1px solid silver;
    border-radius:5px;
    text-align: center;
    height: 150px;
}

.input-area.active{
    border-color: aqua;
    background: rgba(0, 255, 255, 0.15);
}
.input-area .input-label{
    padding:7px;
    font-size: 24px;
}
.input-area .input-box{
    display: inline-block;
}
.input-area .input-box input[type=text]{
    text-align: center;
    font-size:17px;
    padding:6px;
    width:45px;
    outline:none;
    border:0;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.radio-box{
    padding:8px 0;
}

.input-area .input-example{
    border-radius: 5px;
    text-align: center;
    font-weight: normal;
    padding: 4px;
    outline: none;
    cursor: pointer;
    background-color: #003c36;
    border: 1px solid #7a807e;
    color: #fff;
    font-size: 12px;

}

.input-area .input-example:hover{
    background-color: #002a26;
}

.input-area .input-box input.w3{
    width:55px;
}

.table-area{
    color: #fff;
    border:1px solid silver;
    border-radius:5px;
    text-align: center;
}


.table-header{
    height: 60px;
    border-bottom:1px solid silver;
}

.table-header .empty-box{
    height: 60px;
    width: 59px;
    border-right:1px solid silver;
    float: left;
}

.table-header .table-title{
    height: 60px;
    width: calc(100% - 60px);
    float: left;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.table-body{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.table-body .table-side{
    width: 59px;
    height:100%;
    border-right:1px solid silver;
    float: left;
    min-height: 30px;
    padding-top: 26%;
    position: absolute;
    left: 0;
    top: 0;

}
.table-side .side-label{
    padding: 10px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;


    width:150px;
    transform-origin: top left;
    display:inline-block;
    transform:rotate(-90deg);
}
.table-body .table-main{
    float: left;
    width: 100%;
    padding-left: 60px;

}
.table-body .table-main table{
    width: 100%;
}

.table-body .table-main table  tr ,
.table-body .table-main table  tr td{
    -webkit-transition: background .3s linear;
    -ms-transition: background .3s linear;
    transition: background .3s linear;
}

.table-body .table-main table tr td{
    border-right:1px solid rgba(192, 192, 192, 0.45);
    padding:3px 0;
}

.table-body .table-main table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

.table-body .table-main table tr:first-child td {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 0;
}

.table-body .table-main table tr td:first-child{
    background-color: rgba(0, 0, 0, 0.4);
}


.table-body .table-main table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}