.js_grpah{
    width: 600px;
}

#js-graph-own, #html-graph-own{
    width: 100%;
}

.graph-row{
    overflow: hidden;
    margin-bottom: 50px;
}

.graph-row>*{
    float:left;
    margin: 10px;
}

.graph-panel{
    width: 300px;
    min-height: 500px;
}
.graph-data{
    width: 300px;
    min-height: 150px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    background: #C5C5C5;       
}
.graph-setting{
    width: 300px;
    min-height: 300px;
    margin-top: 10px;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    background: #C5C5C5;
}
.graph-values, .graph-props{
    width: 280px;
    padding : 2px;
    overflow:hidden;
    
}
.graph-values>*, .graph-props>*{
    float: left;
}

.graph-label{
    width: 100px;
    font-size: 8pt;
}
.graph-val{
    margin-left: 10px;
    width: 100px;
    font-size: 8pt;
}

.switcher{
    padding: 0px !important;
    height: 25px;
    border: 1px solid #9C9999;
    color: white;
    cursor: pointer;
}

.switcher:before{
    content: "TRUE";
    width: 50px;
}
.switcher:after{
    content: "FALSE";
    width: 50px;
    margin-left: 15px;
}

.switcher.true{
    background-image: linear-gradient(to right, #84CA7F 50px, #A09D9D 51px);    
}
.switcher.false{
    background-image: linear-gradient(to right, #A09D9D 50px, #84CA7F 51px);    
}


.graph-add, .graph-del{
    float: right;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 3px;
}
.graph-add{    
    background: #84CA7F;
    background-image: linear-gradient(to right, transparent 9px, white 9px, white 11px, transparent 11px),
        linear-gradient(to top, transparent 9px, white 9px, white 11px, transparent 11px);
}
.graph-del{
    background: #CA7F7F;
    background-image:  linear-gradient(to top, transparent 9px, white 9px, white 11px, transparent 11px);
}

.graph-check{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.graph-prop{
    margin-left: 5px;
    margin-right: 5px;
    color: black;
    min-width: 100px;
    font-size: 9pt;
}